@import "tailwindcss";

@theme {
  /* Kita tambahkan warna khusus RumbleClash di sini */
  --color-rumble-red: #7B0D0D;
  --color-rumble-black: #0D0D0D;
  --color-rumble-white: #E5E5E5;
  
  /* Tambahkan font tebal khas boxing */
  --font-boxing: "Impact", "Arial Narrow Bold", sans-serif;
}

:root {
  --background: var(--color-rumble-black);
  --foreground: var(--color-rumble-white);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-boxing);
}